*.exe
*.exe~
*.test
*.out
*.prof
vendor/
/bin/
/build/
/dist/
.env
.env.*
!.env.example
*.log
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.[lL][iI][kK]
.idea/
.vscode/
*.swp
*~